* {
    margin: 0px;
    padding: 0 1px 0 1px;
}

body {
    background-color: rgb(223, 198, 255);
} 

footer {
    color: black;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.TopNav,
.navdown {
    cursor: pointer; 
    display: inline-table;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.TopNav,
.grupos,
.puntos,
.galeria,
.recomend,
.navdown{
    border: solid 3px black;
    border-radius: 0.5px;
    padding: 10px 0 10px 0;
}

.Logo {
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(233, 146, 17);
    color: white;
    text-align: left;
    border: solid 2px black;
    border-radius: 0px;  
    padding: 10px 5px 10px 5px;
    margin: 15px;
}

.explorar,
.menu {
    text-align: center;
    text-align: left;
}

.lupa {
    width: 0.5%;
    float: left;
    margin: 25px;
    line-height: 5px;
    text-align: center;
}

.Logout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: left;
    border: solid 2px black;
    border-radius: 2.5px;
    padding: 10px 5px 10px 5px;
    margin: 15px;
}

h4 {
    text-align: right;
}  
.post {
    border: solid 3px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.grupos {
    text-align: center;
}

.puntos {
    text-align: right;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.post {
    float: left;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.post .p,
.post .img {
    align-items: center;
}

.post1,
.post2,
.post3 {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.biografia {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.bio1 {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 60%;
    float: center;
    box-sizing: border-box;
}
.bio1 p {
    padding: 1.5px 50px;
}

.post1 .imag {
    text-align:left;
}
.info{
    text-align: center;
}
.iconos {
    cursor: pointer; 
    display: inline-table;
    width: 40%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.postea {
    color: white;
    text-align: center;
    border: solid 2px black;
    border-radius: 1.5px;
    width: 80px; height: 30px;
    background-color: rgb(137, 35, 255);
}

.postea {
    align-items: right;
}

.post3 ul p {
    border: solid 2px rgb(50, 50, 50);
    border-radius: 1.5px;
    width: 200px; height: 20px;
    text-align: center;
    background-color: rgb(255, 208, 146);
}

.galee ul p {
    padding: 30px 5px 30px 5px;
}

.galeria, 
.recomend {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 100%;
    padding: 30px 5px 30px 5px;
}

.galee ul p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid 3px black;
    border-radius: 5px;
}

.navdown {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter ;
    padding: 15px;
    color: black;
}
.navdown a {
    border: solid 2px black;
    border-radius: 1.5px;
    background-color: rgb(165, 165, 165);
    padding: 5px 8px 5px 8px;
}

.noticias {
    padding: 30px 0 30px 180px;
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.noticias .info p {
    border: solid black;
    border-radius: 1.5px;
    padding: 15px 0 15px 0;
    width: 70%;
    float: left;
    box-sizing: border-box;
}


#contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
}


#lateral {
    width: 29%;
    float:right; 
}
#principal {
    width: 70%;
    float: left; 
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.search--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.search--form {
	overflow: hidden;
	position: relative;
}
	
.search--input-wrapper {
	padding: 0 66px 0 0; 
	overflow: hidden;
}

.search--input {
  width: 100%;
}

.search {
  padding: 0 25px 0 200px; 
}

.search--input {
    -webkit-box-sizing:content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
    padding: 0 45px 0 10px;
	border-color: black;
    border-radius: 35px; 
    border-style: solid;
	border-width: 5px;
    margin-top: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.search--submit {
    position: absolute;
    right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
    padding: 0;
    border: none;
	margin-top: 20px; 
    margin-right: 5px; 
	background: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 60px;
}

.search--input:focus {
  outline: none;
  border-color: orange;
}

.search--input:focus.search--submit {
 	color: black; 
}

.search--submit:hover {
  color: rgb(223, 198, 255);
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: black;  
}

input:-moz-placeholder {
  color: black
}