* {
    margin: 0px;
    padding: 0 0.1px 0 0.1px;
}

body {
    background-color: rgb(223, 198, 255);
} 

footer {
    color: black;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.TopNav,
.navdown {
    cursor: pointer; 
    display: inline-table;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.TopNav,
.grupos,
.puntos,
.galeria,
.recomend,
.navdown{
    border: solid 3px black;
    border-radius: 0.5px;
    padding: 10px 0 10px 0;
}

.Logo {
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(218, 134, 8);
    color: white;
    text-align: left;
    border: solid 2px black;
    border-radius: 0px;  
    padding: 10px 5px 10px 5px;
    margin: 15px;
}

.explorar,
.menu {
    text-align: center;
    text-align: left;
}

.lupa {
    width: 0.5%;
    float: left;
    margin: 25px;
    line-height: 5px;
    text-align: center;
}

.Logout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: left;
    border: solid 2px black;
    border-radius: 2.5px;
    padding: 10px 5px 10px 5px;
    margin: 15px;
}

.grupos {
    text-align: center;
    padding: 20px 0 20px 0;
}

.gruposs {
    border: solid 3px black;
    border-radius: 0.5px;
    padding: 10px 0 0 0;
    text-align: center;
}
.gruposs img{
    margin: 8px 5px 8px 5px;
    width: 20%;
} 

.escribe img {
    bottom: initial;
}

h4 {
    text-align: right;
}  

.post {
    border: solid 3px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.txt {
    border: solid 3px black;
    border-radius: 1.5px;
    padding: 5px 5px 5px 5px;   
}

.puntos {
    text-align: right;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.imag,
.info {
    display: inline-table;
}

.post1 .imag {
    text-align:left;
}

.post1,
.post2,
.post3 {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.biografia {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.bio1 {
    border: solid 2px black;
    border-radius: 1.5px;
    width: 60%;
    float: center;
    box-sizing: border-box;
}
.bio1 p {
    padding: 1.5px 50px;
}

.info{
    text-align: left;
}

.fototeca {
    padding: 20px 0 20px 0;
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.fototec img {
    margin: 5px 10px 5px 20px;
    align-items: center;
    float: center;
}

.imag {
    float: left;
    width: 10%;
    padding: 10px 10px 10px 55px;
}
.info {
    float: left;
    width: 80%;
    padding: 20px 0 20px 0;
}

.iconos {
    width: 70%;
    text-align: left;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.texto {
    width: 20%;
    text-align: left;
    display: flex;
    justify-content:space-evenly;
    align-items: left;
    padding: 15px 0 5px 0;
}
.po {
    display: inline;
    float: right;
    padding-right: 10px;
}
.postea {
    float: right;
    width: 10%;
    color: white;
    font-size: 20px;
    text-align: center;
    border: solid 2px black;
    border-radius: 1.5px;
    width: 80px; height: 30px;
    background-color: rgb(137, 35, 255);
    padding: 5px 10px 5px 10px;
}

.post3 ul p {
    border: solid 2px rgb(50, 50, 50);
    border-radius: 1.5px;
    width: 200px; height: 20px;
    text-align: center;
    background-color: rgb(255, 208, 146);
}

.conte img {
    padding: 20px 0 5px 20px;
    width: 30%;
}

.encu {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 0 30px;
}

.princ {
    border: solid 2px black;
    border-radius: 1.5px;
    padding: 10px 0 10px 0;
}

.titulo {
    display: flex;
    align-items: center;
}

.galee ul a {
    color: black;
    text-decoration: none;
}
.galee ul p {
    padding: 30px 5px 30px 5px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: solid 3px black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.400);
}

.galeria, 
.recomend {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 100%;
    padding: 30px 5px 30px 5px;
}

.navdown {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter ;
    padding: 15px;
    color: black;
}
.navdown a {
    border: solid 2px black;
    border-radius: 1.5px;
    background-color: rgb(165, 165, 165);
    padding: 5px 8px 5px 8px;
}

.noticias {
    padding: 30px 0 30px 180px;
    border: solid 2px black;
    border-radius: 1.5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.noticias .info p {
    border: solid black;
    border-radius: 1.5px;
    padding: 15px 0 15px 0;
    width: 70%;
    float: left;
    box-sizing: border-box;
}

#contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
}

#izquierda {
    width: 4%;
    float: left; 
}
#lateral {
    width: 28.5%;
    float:right; 
}
#principal {
    width: 65%;
    float: left; 
    padding: 0 0.1% 0 2%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.search--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}	
.search--form {
	overflow: hidden;
	position: relative;
}	
.search--input-wrapper {
	padding: 0 66px 0 0; 
	overflow: hidden;
}
.search--input {
  width: 100%;
}
.search {
  padding: 0 25px 0 200px; 
}
.search--input {
    -webkit-box-sizing:content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
    padding: 0 45px 0 10px;
	border-color: black;
    border-radius: 35px; 
    border-style: solid;
	border-width: 5px;
    margin-top: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.search--submit {
    position: absolute;
    right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
    padding: 0;
    border: none;
	margin-top: 20px; 
    margin-right: 5px; 
	background: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 60px;
}
.search--input:focus {
  outline: none;
  border-color: orange;
}
.search--input:focus.search--submit {
 	color: black; 
}
.search--submit:hover {
  color: rgb(223, 198, 255);
  cursor: pointer;
}
::-webkit-input-placeholder {
	color: black;  
}
input:-moz-placeholder {
  color: black
}